# Ignore test exes

# The general pattern is:
#   <test name>
#   <test name>.*
#   !<test name>.hpp
#   !<test name>.cpp

detail_formatting_saver
detail_formatting_saver.*
!detail_formatting_saver.hpp
!detail_formatting_saver.cpp

detail_write
detail_write.*
!detail_write.hpp
!detail_write.cpp

detail_write_delimiter
detail_write_delimiter.*
!detail_write_delimiter.hpp
!detail_write_delimiter.cpp

write_iterator_range_immediate
write_iterator_range_immediate.*
!write_iterator_range_immediate.hpp
!write_iterator_range_immediate.cpp

write_iterator_range_delimiter_immediate
write_iterator_range_delimiter_immediate.*
!write_iterator_range_delimiter_immediate.hpp
!write_iterator_range_delimiter_immediate.cpp

write_iterator_range
write_iterator_range.*
!write_iterator_range.hpp
!write_iterator_range.cpp

write_iterator_range_delimiter
write_iterator_range_delimiter.*
!write_iterator_range_delimiter.hpp
!write_iterator_range_delimiter.cpp
