# Ignore test exes

# The general pattern is:
#   <test name>
#   <test name>.*
#   !<test name>.hpp
#   !<test name>.cpp

detail_formatting_saver
detail_formatting_saver.*
!detail_formatting_saver.hpp
!detail_formatting_saver.cpp

detail_write_all
detail_write_all.*
!detail_write_all.hpp
!detail_write_all.cpp

detail_write_all_delim
detail_write_all_delim.*
!detail_write_all_delim.hpp
!detail_write_all_delim.cpp

write_iterator_range_imm
write_iterator_range_imm.*
!write_iterator_range_imm.hpp
!write_iterator_range_imm.cpp

write_iterator_range_delim_imm
write_iterator_range_delim_imm.*
!write_iterator_range_delim_imm.hpp
!write_iterator_range_delim_imm.cpp
